<li data-id='<%= category.id %>'>
    <p class="c-name"><%= category.name %></p>
    <p class="c-text"><%= category.text %></p>
    <div>
        <button class="btn action-remove">Remove</button>
        <button class="btn action-edit">Edit</button>
    </div>
</li>