<header class="header">
    <div class="header-line">
        <div id="logo"><a href="/">Shop Name</a></div>
        <nav>
            <%- include('nav-content') %>
        </nav>
        <button id="mobile-menu-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
    <div class="header-border"></div>
    <div class="header-line">
        <form action="">
            <input type="text">
        </form>
    </div>
</header>
<aside id="mobile-menu">
    <nav>
        <%- include('nav-content') %>
    </nav>
</aside>