<div class="product-in-cart-actions <% if (hidden) { %> hidden <% } %> flex">
    <button class="product-dec"></button>
    <input type="number" value="<%= amount %>">
    <button class="product-inc"></button>
</div>