.order {
    background-color: var(--color-initial-300);
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 10px;
}

.order header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.order header h2,
.order header p {
    margin: 0;
}

.order-info {
    margin-bottom: 1rem;
}

.order-info address{
    text-align: center;
}

.order-info a{
    font-style: normal;
}

.order-info ul {
    list-style: square;
    padding-left: 3rem;
}

.order-info li{
    margin-bottom: 0.5rem;
}

.order select {
    font: inherit;
    padding: 0.5rem;
    border-radius: 10px;
}