<!DOCTYPE html>
<html lang="en">
    <%- include('../../includes/head', {title: 'Add new product', links: ['form'], scripts: ['image-preview']}) %>
    <body>
        <%- include('../../includes/header') %>
        <main>
            <h1>Add new product</h1>
            <section>
                <%- include('../../includes/product-form', {path: '/admin/products', product: {
                    title: '',
                    summary: '',
                    price: '',
                    description: '',
                    category: '',
                }, imgRequired: true, categories: categories}) %>
            </section>
        </main>
        <%- include('../../includes/footer') %>
    </body>
</html>